{% extends "base.html" %}

{% block title %}Campus.BET - Erro Interno do Servidor{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="display-1">500</h1>
            <h2>Oops! Algo deu errado.</h2>
            <p class="lead">
                Estamos com um problema técnico inesperado. Nossa equipe já foi notificada e está trabalhando para resolver.
            </p>
            <p>
                Por favor, tente novamente mais tarde. Pedimos desculpas pelo inconveniente.
            </p>
            <a href="{{ url_for("main.index") }}" class="btn btn-primary btn-lg mt-3">Voltar para a Página Inicial</a>
        </div>
    </div>
</div>
{% endblock %}

